<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape document_id: 9826340925f893006b83f4dc -->
<robot name="asinus_robot">
  <!-- Link base_link -->
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
  </link>
  <!-- Link frame -->
  <link name="frame">
    <inertial>
      <origin xyz="0.00342576 8.88167e-16 0.247229" rpy="0 0 0"/>
      <mass value="11.0275"/>
      <inertia ixx="0.780335" ixy="3.95083e-16" ixz="0.00669191" iyy="1.07502" iyz="-5.54678e-16" izz="1.11603"/>
    </inertial>
    <!-- Part frame_parts -->
    <visual>
      <origin xyz="0.00342576 8.88167e-16 0.247229" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://asinus_description/asinus/assets/merged/frame_visual.stl"/>
      </geometry>
      <material name="frame_parts_material">
        <color rgba="0.5061 0.501644 0.489782 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00342576 8.88167e-16 0.247229" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://asinus_description/asinus/assets/merged/frame_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Frame kinect_rgb (dummy link + fixed joint) -->
  <link name="kinect_rgb">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-6"/>
      <!-- Use small but non-zero inertia to avoid singularities in physics solvers -->
      <inertia ixx="1e-9" ixy="0" ixz="0" iyy="1e-9" iyz="0" izz="1e-9"/>
    </inertial>
  </link>
  <joint name="kinect_rgb_frame" type="fixed">
    <origin xyz="-0.2572 -0.00344291 0.279" rpy="-1.5708 -0 1.5708"/>
    <parent link="frame"/>
    <child link="kinect_rgb"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame kinect_depth (dummy link + fixed joint) -->
  <link name="kinect_depth">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-6"/>
      <inertia ixx="1e-9" ixy="0" ixz="0" iyy="1e-9" iyz="0" izz="1e-9"/>
    </inertial>
  </link>
  <joint name="kinect_depth_frame" type="fixed">
    <origin xyz="-0.2572 0.0725571 0.279" rpy="-1.5708 -0 1.5708"/>
    <parent link="frame"/>
    <child link="kinect_depth"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame imu (dummy link + fixed joint) -->
  <link name="imu">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-6"/>
      <inertia ixx="1e-9" ixy="0" ixz="0" iyy="1e-9" iyz="0" izz="1e-9"/>
    </inertial>
  </link>
  <joint name="imu_frame" type="fixed">
    <origin xyz="-0.1575 -0.0534856 0.298" rpy="-1.8735e-16 3.747e-16 -3.14159"/>
    <parent link="frame"/>
    <child link="imu"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame lidar (dummy link + fixed joint) -->
  <link name="lidar">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-6"/>
      <inertia ixx="1e-9" ixy="0" ixz="0" iyy="1e-9" iyz="0" izz="1e-9"/>
    </inertial>
  </link>
  <joint name="lidar_frame" type="fixed">
    <origin xyz="-0.29 8.88025e-16 0.56" rpy="-8.13596e-73 -6.77076e-75 -6.12323e-17"/>
    <parent link="frame"/>
    <child link="lidar"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Link hoverboard_wheel_6_5in -->
  <link name="hoverboard_wheel_6_5in">
    <inertial>
      <origin xyz="7.77058e-12 -7.28086e-06 -0.0548547" rpy="0 0 0"/>
      <mass value="2.58664"/>
      <inertia ixx="0.00428046" ixy="-1.42644e-12" ixz="-7.69726e-13" iyy="0.00428056" iyz="1.03496e-06" izz="0.00729729"/>
    </inertial>
    <!-- Part hoverboard_wheel_6_5in_parts -->
    <visual>
      <origin xyz="7.77056e-12 -7.28086e-06 -0.0548547" rpy="1.5708 2.43378e-16 -3.14159"/>
      <geometry>
        <mesh filename="package://asinus_description/asinus/assets/merged/hoverboard_wheel_6_5in_visual.stl"/>
      </geometry>
      <material name="hoverboard_wheel_6_5in_parts_material">
        <color rgba="0.956863 0.956863 0.956863 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="7.77056e-12 -7.28086e-06 -0.0548547" rpy="1.5708 2.43378e-16 -3.14159"/>
      <geometry>
        <mesh filename="package://asinus_description/asinus/assets/merged/hoverboard_wheel_6_5in_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from frame to hoverboard_wheel_6_5in -->
  <joint name="bl_wheel_joint" type="continuous">
    <origin xyz="0.205 -0.21 0.0618" rpy="1.5708 2.46519e-32 -3.14159"/>
    <parent link="frame"/>
    <child link="hoverboard_wheel_6_5in"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link hoverboard_wheel_6_5in_2 -->
  <link name="hoverboard_wheel_6_5in_2">
    <inertial>
      <origin xyz="7.77048e-12 -7.28086e-06 -0.0548547" rpy="0 0 0"/>
      <mass value="2.58664"/>
      <inertia ixx="0.00428046" ixy="-1.42644e-12" ixz="-7.69726e-13" iyy="0.00428056" iyz="1.03496e-06" izz="0.00729729"/>
    </inertial>
    <!-- Part hoverboard_wheel_6_5in_2_parts -->
    <visual>
      <origin xyz="7.77051e-12 -7.28086e-06 -0.0548547" rpy="-1.5708 -2.43378e-16 3.14159"/>
      <geometry>
        <mesh filename="package://asinus_description/asinus/assets/merged/hoverboard_wheel_6_5in_2_visual.stl"/>
      </geometry>
      <material name="hoverboard_wheel_6_5in_2_parts_material">
        <color rgba="0.956863 0.956863 0.956863 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="7.77051e-12 -7.28086e-06 -0.0548547" rpy="-1.5708 -2.43378e-16 3.14159"/>
      <geometry>
        <mesh filename="package://asinus_description/asinus/assets/merged/hoverboard_wheel_6_5in_2_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from frame to hoverboard_wheel_6_5in_2 -->
  <joint name="br_wheel_joint" type="continuous">
    <origin xyz="0.205 0.21 0.0618" rpy="-1.5708 2.47664e-32 -3.14159"/>
    <parent link="frame"/>
    <child link="hoverboard_wheel_6_5in_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link castershaft -->
  <link name="castershaft">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <!-- Part castershaft_parts -->
    <visual>
      <origin xyz="0.286 -0.158 -0.0729066" rpy="-9.85832e-15 -1.82137e-31 -6.12323e-17"/>
      <geometry>
        <mesh filename="package://asinus_description/asinus/assets/merged/castershaft_visual.stl"/>
      </geometry>
      <material name="castershaft_parts_material">
        <color rgba="0.5061 0.501644 0.489782 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.286 -0.158 -0.0729066" rpy="-9.85832e-15 -1.82137e-31 -6.12323e-17"/>
      <geometry>
        <mesh filename="package://asinus_description/asinus/assets/merged/castershaft_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link casterwheel1 -->
  <link name="casterwheel1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <!-- Part casterwheel1_parts -->
    <visual>
      <origin xyz="-0.146838 -0.0189066 0.289338" rpy="1.5708 -1.50098 3.14159"/>
      <geometry>
        <mesh filename="package://asinus_description/asinus/assets/merged/casterwheel1_visual.stl"/>
      </geometry>
      <material name="casterwheel1_parts_material">
        <color rgba="0.5061 0.501644 0.489782 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.146838 -0.0189066 0.289338" rpy="1.5708 -1.50098 3.14159"/>
      <geometry>
        <mesh filename="package://asinus_description/asinus/assets/merged/casterwheel1_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from castershaft to casterwheel1 -->
  <joint name="caster_wheel_right_joint" type="continuous">
    <origin xyz="-0.0128764 -0.0317024 -0.054" rpy="1.5708 -9.77896e-15 1.64061"/>
    <parent link="castershaft"/>
    <child link="casterwheel1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Joint from frame to castershaft -->
  <joint name="caster_right_joint" type="revolute">
    <origin xyz="-0.286 0.158 0.0729066" rpy="9.85832e-15 -4.21511e-31 6.12323e-17"/>
    <parent link="frame"/>
    <child link="castershaft"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Link castershaft_2 -->
  <link name="castershaft_2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <!-- Part castershaft_2_parts -->
    <visual>
      <origin xyz="0.286 0.158 -0.0729066" rpy="2.2664e-17 1.53505e-31 -6.12323e-17"/>
      <geometry>
        <mesh filename="package://asinus_description/asinus/assets/merged/castershaft_2_visual.stl"/>
      </geometry>
      <material name="castershaft_2_parts_material">
        <color rgba="0.5061 0.501644 0.489782 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.286 0.158 -0.0729066" rpy="2.2664e-17 1.53505e-31 -6.12323e-17"/>
      <geometry>
        <mesh filename="package://asinus_description/asinus/assets/merged/castershaft_2_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link casterwheel1_2 -->
  <link name="casterwheel1_2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <!-- Part casterwheel1_2_parts -->
    <visual>
      <origin xyz="0.168392 -0.0189066 0.311381" rpy="1.5708 -1.50098 -3.14159"/>
      <geometry>
        <mesh filename="package://asinus_description/asinus/assets/merged/casterwheel1_2_visual.stl"/>
      </geometry>
      <material name="casterwheel1_2_parts_material">
        <color rgba="0.5061 0.501644 0.489782 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.168392 -0.0189066 0.311381" rpy="1.5708 -1.50098 -3.14159"/>
      <geometry>
        <mesh filename="package://asinus_description/asinus/assets/merged/casterwheel1_2_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from castershaft_2 to casterwheel1_2 -->
  <joint name="caster_wheel_left_joint" type="continuous">
    <origin xyz="-0.0128764 -0.0317024 -0.054" rpy="1.5708 9.67214e-16 1.64061"/>
    <parent link="castershaft_2"/>
    <child link="casterwheel1_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Joint from frame to castershaft_2 -->
  <joint name="caster_left_joint" type="revolute">
    <origin xyz="-0.286 -0.158 0.0729066" rpy="-2.2664e-17 -1.52117e-31 6.12323e-17"/>
    <parent link="frame"/>
    <child link="castershaft_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from base_link to frame -->
  <joint name="base_link_to_frame" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <parent link="base_link"/>
    <child link="frame"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
</robot>
