<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="asinus">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_mock_hardware" default="true" />

  <!-- Include the assembled robot (which already brings robot.urdf and control.xacro) -->
  <xacro:include filename="$(find asinus_description)/asinus/asinus.urdf.xacro" />
  <!-- Gazebo / ros_gz specific bits -->
  <xacro:include filename="$(find asinus_gz)/urdf/include/gazebo.urdf.xacro" />

  
</robot>